body{
    margin: 0%;
    font-family: Body, Quicksand, sans-serif;
}
.navigation{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
}
.navigation img{
    width: 70px;
    height:70px;
    margin: 30px;
}
.main-body{
    height: 800px;
    width: 100%;
    background-image: url(pexels-deepak-pradhan-394878688-14788203.jpg);
    background-size: 100% 100%;
}
.form{
    width: 600px;
    height: 550px;
    background-color: white;
    position: relative;
    top: 50px;
    left: 100px;
    
}
.head-text{
    width: 600px;
    height:200px;
    position: relative;
    bottom: 550px;
    left: 800px;
}
.main-text{
    color: aliceblue;
    font-size: 65px;
    letter-spacing: 1px;
    color: #213d77;
}
.second-text{
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-top: -50px;
}
.second-text h3{
    color: #213d77;
}
.pnr{
    width: 100%;
    height: 50px;
    display: flex;
}
.pnr button{
    width: 50%;
    background-color: #213d77;
    font-size: 13px;
    font-weight: 900;
    color: aliceblue; 
}
.a{
    text-decoration: none;
    color: white;
}
#book{
    color: #213d77;
    margin-left: 30%;
}
.fillings input, select{
    height: 40px;
    width: 250px;
    margin: 20px;
    font-size: large;
    color: #213d77;
    border-color: #213d77;
}
#to{
    background-image: url(map.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px;   
}
#from{
    background-image: url(paper-plane_10430442.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px;
}
.checkbox form{
    margin: 20px;
    color: #213d77;
    font-size: 100;
    font-weight: 700;
}
.disha{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.disha a{
    text-decoration: none;
    background-color: darkorange;
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
}
.form-foot{
    background-color: white;
    width: 600px;
    height: 120px;
    position: relative;
    bottom: 190px ;
    left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form-foot h3{
    font-size: small;
}
#first-child{
    color:blue;
}
#second-child{
    text-decoration: none;
    color: skyblue;
    margin-top: -10px;
}
#third-child{
    text-decoration: none;
    color:red;
    margin-top: -10px;
}
#askdisha{
    width: 150px;
    height: 150px;
    position: fixed;
    top: 550px;
    left: 90%;
}
.ad{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ad h1{
    font-size: 50px;
    font-weight: bold;
}
.round-options{
    width: 100%;
    height: 200px;
}
.round-options img{
    width: 150px;
    height: 150px;
    padding: 30px;
}
.round-options2{
    width: 100%;
    height: 200px;
}
.round-options2 img{
    width: 150px;
    height: 150px;
    padding: 30px;
}
.video{
    height: 300px;
    width: 90%;
    background-color: aliceblue;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
}
.video video{
    width:500px;
}
.holidaybox{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box{
    height: 650px;
    width: 400px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px;
}
.boxinbox{
    width: 90%;
    margin: 30px;
}
.holidaybox img{
    width: 400px;
}
.connectus{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, darkblue,violet);
    display: flex;
    padding-left: 300px;
}
.connectus img{
    width: 40px;
    padding: 10px;
}
.detailes{
    background-color:#2c215d;
    width: 100%;
    height: 400px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fourbox{
    width: 300px;
    height: 400px;
}
.fourbox a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.fourbox li{
    margin-top: 40px;
    list-style-type: none;
}
